{% assign_local c = "c-form" %}
{% assign has_heading = false %}
{% if content.heading.primary_heading or content.heading.eyebrow_headline or content.description %}
    {% assign has_heading = true %}
{% endif %}
<section {% if content.id %}id="{{ content.id }}"{% endif %} class="{{ c }} {{ c }}--content-align-{{ styles.content_alignment }} {% unless has_heading %}{{ c }}--no-heading{% endunless %} component component--{{ styles.color_group }}" >

    {% if content.heading or content.description %}
        <div class="component__heading {{ c }}__heading">
            {% if content.heading %}{% bookshop "generic/heading" bind:content.heading %}{% endif %}
            {% if content.description %}{% bookshop "generic/text-block" text:content.description %}{% endif %}
        </div>
    {% endif %}

    <div class="{{ c }}__form">
        {% bookshop "simple/form-builder" bind:content.form %}
    </div>
</section>